<h6>Dashboard</h6>
<h3>Welcome {{ name }} </h3>
<p>Here are your stories</p>
{{#if stories}}
    <table class="stripped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <thead>
            {{#each stories}}
                <tr>
                    <td><a href="/storied/{{_id}}"></a>{{title}}</td>
                    <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td></td>
                </tr>
            {{/each}}
        </thead>

    </table>
{{else}}
    <p>You have not created any storied</p>
{{/if}}